<!DOCTYPE html>
<html>
    <head>
        <title>Ellie</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}"/>
    </head>
    <body>
        <div id = "container">
            <div id = "titlebox"></div>
            <div id = "title">Ellie</div>
            <div id = "description">depression predictor</div>   
            <div id = "cds">50.038 Computational data science</div>
            
            <div id = "transcript">{{ transcript }}</div>
                
    
            <div id = "bottombox"></div>
            
        </div>
    </body>
</html>