#container{
    
    position: relative;
    width: 1440px;
    height: 1024px;
    margin: 0 auto;
    
    background: #EAE7DF;
    border: 1px solid #080C17;
    box-sizing: border-box;
    text-align: center;
}

#titlebox{
    position: absolute;
    width: 1440px;
    height: 310px;
    left: 0px;
    top: 0px;
    text-align: center;

    background: #30393D;
    
}

#title{
    /* ellie */

    position: absolute;
    width: 349px;
    height: 153px;
    left: 545px;
    top: 36px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 150px;
    line-height: 180px;
    display: flex;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    letter-spacing: 0.1em;
    text-transform: lowercase;

    color: #fff;
}

#description{

    /* description */

    position: absolute;
    width: 1440px;
    height: 69px;
    left: 0px;
    top: 203px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    letter-spacing: 0.25em;
    text-transform: lowercase;

    color: #EAE7DF;
}

#predict_box{
    position: absolute;
    width: 244px;
    height: 86px;
    left: 133px;
    top: 710px;



    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.1em;
    text-transform: lowercase;
    color: #EAE7DF;
    
    background-color: #30393D;
    box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.25);
    border-radius: 100px;

    
}

#transcript_box{
    position: absolute;
    width: 244px;
    height: 86px;
    left: 130px;
    top: 456px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.1em;
    text-transform: lowercase;
    color: #EAE7DF;
    
    background-color: #30393D;
    box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    
}

#label_box{
    position: absolute;
    width: 244px;
    height: 86px;
    left: 135px;
    top: 583px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.1em;
    text-transform: lowercase;
    color: #EAE7DF;
    
    background-color: #30393D;
    box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
}

#search{
    position: absolute;
    width: 140px;
    height: 33.71px;
    left: 500px;
    top: 350px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.1em;
    text-transform: lowercase;
    color: #EAE7DF;
    
    background-color: #30393D;
    box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
}

/* #predict_button{
    position: absolute;
    width: 244px;
    height: 47px;
    left: 598px;
    top: 629px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.1em;
    text-transform: lowercase;

    color: #EAE7DF;
} */

#cds{
    position: absolute;
    width: 1440px;
    height: 69px;
    left: 0px;
    top: 919px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.25em;
    text-transform: lowercase;

    color: #EAE7DF;
}

#bottombox{
    position: absolute;
    width: 1440px;
    height: 142px;
    left: 0px;
    top: 883px;

    background: #30393D;
}

#output{
    position: absolute;
    width: 1440px;
    height: 60px;
    left: 700px;
    top: 596px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;

    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    /*justify-content: center;*/
    letter-spacing: 0.1em;
    text-transform: lowercase;
    visibility: hidden;
    color: #000000;
}

#output2{
    position: absolute;
    width: 1440px;
    height: 60px;
    left: 780px;
    top: 596px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;

    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    /* justify-content: center; */
    letter-spacing: 0.1em;
    text-transform: lowercase;
    visibility: hidden;

    color: #000000;
}



#pid{
    position: absolute;
    width: 1440px;
    height: 60px;
    left: 980px;
    top: 340px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;

    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    /* justify-content: center; */
    letter-spacing: 0.1em;
    


    color: #000000;
}

#input{
    position: absolute;
    width: 415px;
    height: 42.82px;
    left: 48px;
    top: 344px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: lowercase;
    
    color: #000000;


}

#transcript{
    position: absolute;
    width: 700px;
    height: 300px;
    left: 648px;
    top: 500px;
    overflow: auto;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    text-transform: lowercase;
    visibility: hidden;
    color: #000000;
}